/****** Default & General Styling ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/*** Wrapper ***/

.wrapper {
    background-color: hsl(218, 28%, 13%);
    max-width: 375px;
}

/** Header **/

header {
    background-color: hsl(217, 28%, 15%);
    background-image: url(../images/bg-curvy-mobile.svg), linear-gradient(hsl(217, 28%, 15%) 57%, hsl(218, 28%, 13%) 38%);
    background-position: 0 47%;
    background-repeat: no-repeat;
    padding: 25px 6% 70px;
}

/* Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 25%;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav a {
    font-family: 'Raleway', sans-serif;
    font-size: 85%;
}

nav a:hover {
    color: hsl(198, 60%, 50%);
    font-size: 95%;
    font-weight: 600;
}

/* Introduction */

.introduction img {
    width: 90%;
    margin: 45px auto 30px;
}

header h1 {
    font-size: 170%;
    line-height: 1.5;
}

header h4 {
    font-size: 100%;
    font-weight: 400;
    line-height: 1.75;
    margin: 15px 5%;
}

.btn {
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 105%;
    font-weight: 600;
    margin: 30px auto 15px;
    padding: 16px 0;
    width: 250px;
}

.btn:hover {
    color: hsl(217, 28%, 15%);
    box-shadow: 0 0 10px 3px hsl(217, 28%, 40%);
}

/** Main **/

/* Features */

#features {
    padding-bottom: 55px;
}

.feature {
    padding: 45px 8%;
}

.feature .size1 {
    width: 22%;
}

.feature .size2 {
    width: 19%;
}

.feature h3 {
    font-size: 125%;
    margin: 35px 0 15px;
}

.feature p {
    font-size: 97%;
    line-height: 1.5;
}

/* Team */

#team {
    padding: 55px 7%;
}

#team img {
    width: 95%;
    margin-bottom: 45px;
}

.team_text {
    text-align: left;
}

#team h1 {
    font-size: 130%;
}

#team h5 {
    font-weight: 400;
    font-size: 98%;
    line-height: 1.5;
    margin: 20px 0;
}

#team a {
    border-style: none none solid none;
    border-width: 1px;
    color: hsl(176, 68%, 64%);
    display: inline-block;
    font-size: 90%;
    padding-bottom: 5px;
}

#team .arrow_icon {
    margin: 0 0 0 2px;
    vertical-align: sub;
    width: 18px;
}

#team a:hover {
    font-size: 95%;
}

/* Testimonials */

#testimonials {
    padding: 110px 11% 0;
    text-align: left;
    position: relative;
    z-index: 1;
}

.quotes_icon {
    position: absolute;
    z-index: -1;
    top: 94px;
    left: 13%;
    width: 23px;
}

.testimonial {
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    box-shadow: 0 6px 8px 1px hsl(217, 28%, 15%);
    margin-bottom: 25px;
    padding: 25px 8% 20px;
}

#testimonials q {
    font-size: 75%;
}

q::before, q::after {
    content: "";
}

.testimonial_profile {
    margin-top: 20px;
}

.testimonial_profile img {
    width: 11%;
    border-radius: 50%;
    float: left;
    margin: 2px 4% 0 0;
}

#testimonials h6 {
    margin-bottom: -3px;
    font-size: 80%;
}

#testimonials small {
    font-size: 60%;
}

/* Sign In */

#sign_in {
    background-color: hsl(217, 28%, 15%);
    border-radius: 4%;
    box-shadow: 0 3px 8px -2px hsl(217, 28%, 5%);
    margin: -50px 5% 0;
    padding: 45px 7% 40px;
    position: relative;
    top: 180px;
}

#sign_in h2 {
    font-size: 125%;
    margin-bottom: 20px;
}

.GetStarted_form {
    margin-top: 35px;
}

.GetStarted_form input {
    border: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90%;
    margin: 0 auto 25px;
    outline: none;
    padding: 18px 11%;
    width: 280px;
}

::placeholder { 
    color: lightgray;
}

.GetStarted_form .btn {
    color: white;
    font-size: 105%;
    margin: 0 auto;
    outline: none;
    padding: 16px 0;
    width: 280px;
}

.GetStarted_form .btn:hover {
    color: hsl(217, 28%, 15%);
}

/** Footer **/

footer {
    background-color: hsl(216, 53%, 9%);
    padding: 210px 7% 0;
    text-align: left;
}

footer .logo {
    margin: 40px 4%;
}

/*Contact Information*/

.location_icon {
    margin: 0 25px 80px 0;
    width: 14px;
}

footer p {
    font-size: 115%;
    line-height: 1.5;
    margin-bottom: 15px;
}

.phone_icon {
    margin: 0 25px 10px 0;
    width: 14px;
}

.email_icon {
    margin-bottom: 8px;
}

footer .contact_information {
    font-size: 100%;
    margin-bottom: 15px;
}

footer .contact_information:hover {
    color: hsl(198, 60%, 50%);
    font-size: 105%;
    font-weight: 600;
}

/*Quick Links*/

footer .quick_links {
    display: block;
    font-size: 115%;
    line-height: 2.5;
}

footer .quick_links:hover {
    color: hsl(198, 60%, 50%);
    font-size: 120%;
    font-weight: 600;
}

footer .footer_column3 {
    margin: 60px auto 30px;
}

/*Social Media Presence*/

footer .footer_column5 {
    text-align: center;
    padding: 65px 0 40px;
}

footer .SM_icons {
    border: 1px;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 0.75rem;
    height: 27px;
    width: 27px;
    margin: 4px;
}

footer .SM_icons:hover {
    box-shadow: 0 0 10px 3px hsl(217, 28%, 40%);
    color: hsl(198, 60%, 50%);
    font-size: 0.80rem;
}

footer .fab {
    margin: 30%;
}

/** Attribution **/

.attribution {
    font-size: 11px;
}

.attribution a {
    color: hsl(176, 68%, 64%);
    font-weight: 600;
}

.attribution strong {
    color: hsl(198, 60%, 50%);
}


    @media (min-width:960px) {

        body  {
            display: block;
        }

        /*** Wrapper ***/

        .wrapper {
            max-width: 1440px;
        }

        /** Header **/

        header {
            background-image: url(../images/bg-curvy-desktop.svg);
            background-position: 0 105%;
            padding: 50px 5% 150px;
        }

        /* Navbar */

        nav .logo {
            width: 15%;
        }
        
        .nav_links {
            justify-content: space-around;
            width: 25%;
        }

        nav a {
            font-size: 115%;
        }

        nav a:hover {
            font-size: 120%;
        }

        /* Introduction */

        .introduction img {
            width: 55%;
            margin: 50px auto 30px;
        }

        header h1 {
            font-size: 265%;
            margin: 5px 20%;
        }

        header h4 {
            font-size: 125%;
            line-height: 1.5;
            margin: 25px 28% 15px;
        }

        /** Main **/

        /* Features */

        #features {
            padding: 0 10%;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: center;
        }
        
        .feature {
            padding: 20px 4.5% 90px;
            width: 460px;
            margin: 0 15px;
        }

        /* Team */

        #team {
            padding: 40px 8%;
            display: flex;
        }
        
        #team img {
            width: 50%;
            margin-bottom: 0;
        }
        
        .team_text {
            padding: 105px 0 0 5%;
        }
        
        #team h1 {
            font-size: 260%;
            padding-right: 40%;
            margin-bottom: 20px;
        }
        
        #team h5 {
            font-size: 104%;
            line-height: 1.75;
            margin: 14px 0;
        }
        
        #team a {
            font-size: 104%;
            margin-top: 6px;
        }
        
        #team a:hover {
            font-size: 109%;
        }
        
        /* Testimonials */
        
        #testimonials {
            padding: 125px 9%;
        }
        
        .quotes_icon {
            top: 92px;
            left: 10%;
            width: 50px;
        }

        .testimonial_grouping {
            display: flex;
            justify-content: space-between;
        }
        
        .testimonial {
            box-shadow: 12px 7px 5px 2px hsl(217, 28%, 15%);
            margin: 0 20px;
            padding: 35px 3% 25px;
        }
        
        #testimonials q {
            font-size: 90%;
        }
        
        .testimonial_profile img {
            width: 9%;
        }
        
        #testimonials h6 {
            font-size: 70%;
        }
        
        #testimonials small {
            font-size: 50%;
        }

        /* Sign In */

        #sign_in {
            border-radius: 1%;
            box-shadow: 3px 3px 8px -1px hsl(217, 28%, 5%);
            margin: -50px 20% 0;
            padding: 45px 5.5% 40px;
            top: 110px;
        }
        
        #sign_in h2 {
            font-size: 210%;
        }

        #sign_in p {
            font-size: 95%;
            margin: auto 5%;
        }
        
        .GetStarted_form {
            display: flex;
            align-items: baseline;
        }
        
        .GetStarted_form input {
            margin: 0;
            padding: 15px 5.5%;
            width: 480px;
        }

        .GetStarted_form .btn {
            font-size: 85%;
            margin: 0 0 0 25px;
            padding: 15px 0;
            width: 180px;
        }

        /** Footer **/

        footer {
            padding: 140px 7% 80px;
        }
        
        footer .logo {
            margin: 40px 0;
        }

        footer .footer_columns {
            display: grid;
            grid-template-columns: 38% 28% 11% 10% 16%;
        }

        /*Contact Information*/


        .footer_column1, .footer_column2 {
            margin-top: 8px;
        }

        .location_icon {
            margin: 0 25px 25px 0;
            width: 12px;
        }
        
        footer p {
            font-size: 105%;
            margin: 0;
            padding-right: 20%;
        }
        
        .phone_icon {
            margin: 0 0 10px 0;
            width: 17px;
        }
        
        footer .contact_information {
            margin-bottom: 13px;
        }
        
        /*Quick Links*/
        
        footer .quick_links {
            font-size: 110%;
        }
        
        footer .quick_links:hover {
            font-size: 115%;
        }
        
        footer .footer_column3 {
            margin: 0;
        }
        
        /*Social Media Presence*/
        
        footer .footer_column5 {
            text-align: right;
            padding: 0;
        }
        
        footer .SM_icons {
            font-size: 0.80rem;
            text-align: center;
            height: 29px;
            width: 29px;
        }
        
        footer .SM_icons:hover {
            font-size: 0.85rem;
        }
        
        footer .fab {
            margin: 30%;
        }

    }

/****** END ******/
